@import "bootstrap";
.back-image{
	background-image: url("IPl-trophy.jpeg");
	background-repeat: no-repeat;
	background-size:100% 80%;
	height:700px;

}
.display-4
{
	text-align: left;
	color:white;
	text-transform: uppercase;
}